{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": false,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.spec.ts",
    "**/*.d.ts"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "reporter"   : ["text", "text-summary", "lcov", "html"]
}